body {
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 5fr 3fr 1fr;
    grid-template-areas:
        "site-header"
        "site-main"
        "widget-area"
        "site-footer"
        
}

.site-header {
    display: grid;
    background: lightskyblue;
    grid-area: site-header;
}

.site-main {
    background: greenyellow;
    grid-area: site-main;
}

.widget-area {
    background: purple;
    grid-area: widget-area;
}

.site-footer {
    background: blue;
    grid-area: site-footer;
}

@media (min-width: 800px) {
    body {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 6fr 3fr 1fr;
    grid-template-areas:
        "site-header    site-main"
        "site-header    widget-area"
        "site-header    site-footer"
    }
}

@media (min-width: 1024px) {
    body {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 9fr 1fr;
    grid-template-areas:
        "site-header    site-main       widget-area"
        "site-header    site-footer     widget-area"
    }
}